@import mixins.sass

.project_list
  .project
    overflow: hidden
    background-image: url(../images/projects/preview_background.gif)
  
    img.project_photo
      float: left
      margin-right: 10px
      
    .summary
      font-size: 10pt