@import mixins.sass

.project_list
  .project
    overflow: hidden
    background-image: url(../images/projects/preview_background.gif)
    margin-bottom: 10px
  
    img.project_photo
      float: left
      margin-right: 10px
      
    .summary
      font-size: 10pt
      
#project_notices
  .message
    margin-bottom: 1em
    text-align: center

  .notice
    color: #003300
    background-color: #99cc66
    border: 1px solid #339900

  .warning, .error
    color: #660000
    background-color: #ff6666
    border: 1px solid #993333
    