/*
Syntax error: Invalid property: ":color= !anchor_dark".
        on line 23 of /Users/craig/development/living_models/public/stylesheets/sass/application.sass

18:   :background-color #EEE
19:   :line-height 120%
20:   :font-size 11pt
21:  
22: a:link, a:visited
23:   :color= !anchor_dark
24:   :text-decoration none
25:   :font-weight bold
26:   
27:   img
28:     border: 0

Backtrace:
/Users/craig/development/living_models/public/stylesheets/sass/application.sass:23
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/engine.rb:558:in `parse_line'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/engine.rb:471:in `build_tree'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/engine.rb:490:in `block in append_children'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/engine.rb:489:in `each'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/engine.rb:489:in `append_children'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/engine.rb:480:in `block in build_tree'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/engine.rb:473:in `each'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/engine.rb:473:in `build_tree'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/engine.rb:490:in `block in append_children'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/engine.rb:489:in `each'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/engine.rb:489:in `append_children'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/engine.rb:345:in `_to_tree'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/engine.rb:315:in `_render'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/engine.rb:263:in `block in render'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/util.rb:373:in `silence_sass_warnings'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/engine.rb:263:in `render'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:201:in `each'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/plugin/rack.rb:51:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.8/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.8/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.5/lib/rack/methodoverride.rb:24:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.8/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.8/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.8/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.8/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/activerecord-3.0.8/lib/active_record/query_cache.rb:32:in `block in call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/activerecord-3.0.8/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/activerecord-3.0.8/lib/active_record/query_cache.rb:12:in `cache'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/activerecord-3.0.8/lib/active_record/query_cache.rb:31:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/activerecord-3.0.8/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.8/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/activesupport-3.0.8/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.8/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.5/lib/rack/sendfile.rb:106:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.8/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.8/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/railties-3.0.8/lib/rails/rack/logger.rb:13:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.5/lib/rack/runtime.rb:17:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/activesupport-3.0.8/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.5/lib/rack/lock.rb:13:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.5/lib/rack/lock.rb:13:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.8/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/airbrake-3.1.6/lib/airbrake/rack.rb:41:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/airbrake-3.1.6/lib/airbrake/user_informer.rb:12:in `call'
/Users/craig/.rvm/gems/ruby-1.9.2-p290/gems/railties-3.0.8/lib/rails/application.rb:168:in `call'
/Users/craig/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:147:in `handle'
/Users/craig/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:99:in `rescue in block (2 levels) in start'
/Users/craig/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:96:in `block (2 levels) in start'
/Users/craig/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:86:in `each'
/Users/craig/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:86:in `block in start'
/Users/craig/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:66:in `loop'
/Users/craig/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:66:in `start'
/Users/craig/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:13:in `run'
/Users/craig/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/bin/nack_worker:4:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid property: \":color= !anchor_dark\".\A         on line 23 of /Users/craig/development/living_models/public/stylesheets/sass/application.sass\A \A 18:   :background-color #EEE\A 19:   :line-height 120%\A 20:   :font-size 11pt\A 21:  \A 22: a:link, a:visited\A 23:   :color= !anchor_dark\A 24:   :text-decoration none\A 25:   :font-weight bold\A 26:   \A 27:   img\A 28:     border: 0"; }
