#search {
  background-image: url(../images/layout/search_background.gif);
  background-repeat: repeat-y;
  height: 100px; }
  #search .contents {
    background-image: url(../images/layout/search_header.gif);
    background-repeat: no-repeat;
    padding: 40px 30px 30px 30px; }

#results {
  background-image: url(../images/layout/results_background.gif);
  background-repeat: repeat-y; }
  #results .contents {
    background-image: url(../images/layout/results_header.gif);
    background-repeat: no-repeat;
    padding: 50px 30px 30px 360px; }
