.project_list .project {
  overflow: hidden;
  background-image: url(../images/projects/preview_background.gif);
  margin-bottom: 10px; }
  .project_list .project img.project_photo {
    float: left;
    margin-right: 10px; }
  .project_list .project .summary {
    font-size: 10pt; }
