- if @user.has_password?
  %h1 Change your password

  %p You can change your password below.
- else
  %h1 Set your password

  %p You must select a password for your new account before you can do anything else.

- form_for @user, :url => update_password_user_path(@user.perishable_token), :html => {:method => :put} do |f|
  = f.error_messages
  = f.text_field :password
  = f.text_field :password_confirmation, :label => "Re-Type your Password"
  = f.submit_and_cancel_buttons "Save"
