%h2 About Us

%p 
  The Bank of Real Solutions was proposed at the <a href="http://www.transitiontowns.org.nz">Transition Towns</a> national forum on 
  Waiheke in March 2009. Originally called "The Bank of Living Models", the project has come to fruition as a partnership between 
  Transition Towns and a <a href="www.anewnz.org.nz">ANew NZ Trust</a>, and by the goodwill of an individual's donation.
 
%h3 Our aims

%p
  The Bank of Real Solutions aims to help bring forward the successful working models being used today to overcome social and 
  environmental challenges in New Zealand.
 
%p
  The focus is that which makes us more; resilient, vibrant, healthier, happier and better connected - in our households, our 
  neighbourhoods, regions and as a nation.
 
%p
  It brings forward the success stories of the individuals and communities who are; using resources more wisely, reducing financial 
  overheads, fixing social ills, restoring ecosystems, creating jobs, enhancing the aesthetics of where they live, becoming more 
  self-determining.

%p 
  How can people motivated on these issues find quickly off-the-shelf systems already in place, already trialled and up and 
  running, so they can be learnt from, replicated and built upon.
 
%p
  The Bank of Real Solutions is all about the Kiwi can-do attitude, "Out-thinking the problems because we can". It aims to 
  capture the excitement and inspiration of working by creative determination to overcome that which challenges us.
 
%p
  The Bank of Real Solutions has a primarily New Zealand focus but is inevitably global in its nature of seeking and sharing 
  best practice and may develop to help promote New Zealand to the world as a centre for solutions for the future.
 
%h3 Criteria

%p
  Stories are invited from all sectors be it individual, NGO, academic, governmental or business, (although stories 
  submitted that are deemed to be for purely commercial reasons by a company whose ethics are in doubt are likely to be rejected).
 
%p
  It is at the discretion of the website editor to decide if stories submitted meet the aims (as stated above). If any 
  decision to reject a story is contested a decision to eligibility will be decided by the Board of Anew NZ Trust.

%a{:name => "prize_draw"}
%h3 Prize draw

%p 
  Every 100 stories uploaded will go in a draw for $1000 which will be given to help further the project covered in the 
  story or another project to the choice of the organisers of that project. The draw will be by placing a number 
  (or name) of each 100 projects with one picked out of a hat. The prize draw is seen as valuable to attract additional 
  interest in this website, to encourage participation and to promote the association of reward with finding solutions 
  for the challenges we face. It is hoped to increase the prizes component of The Bank. Prize money will be paid to the 
  recognized coordinating person or organization for that project to be used as they see fit.

%p
  To be eligible for the price draw,
  = link_to("upload your story here", new_project_path) + '.'
 
%h3 Funding

%p
  This project has been funded by a donation made to Anew NZ Trust which the Trust allocated to this project. All donations to 
  the Trust are eligible for 33% tax rebate.
 
%h3 The Team

%p
  The people who have worked to bring you the BRS so far are: <a href="http://www.jamessamuel.co.nz/">James Samuel</a> 
  (web project coordinator), <a href="http://www.craigambrose.com">Craig Ambrose</a> (web development), 
  <a href="http://refine.co.nz/">Daryl Neal</a> (website design), Laurence Boomert (communications and strategic development), 
  Dave Breur (structure and organisational management).

%p
  For more information contact:

%p
  Laurence Boomert
  %br
  %a{:href=> "mailto:laurenceboomert@xtra.co.nz"} laurenceboomert@xtra.co.nz
  %br
  PO Box 349, Takaka
  %br
  Ph: 027 25 88807

%p or

%p
  Dave Breur
  %br
  AnewNZ Trust
  %br
  Tel  (09) 413-9146
  %br
  Email:  breuer.d@ihug.co.nz
  %br
  Box 11 Greenhithe, Northshore

%p or  

%p
  James Samuel
  %br
  %a{:href => "http://www.jamessamuel.co.nz"} www.jamessamuel.co.nz
  
.actions
  = link_to "Return to home page", root_path
